<section data-ng-controller="HomeController">
    <div id="wrapper" class="col-md-8 col-md-offset-2" style="margin-top: 5em;">
        <div>Enter a distance value for customers within range (EG: 100)</div>
    <form>
        <div class="input-group">
            <input type="number" class="form-control" data-ng-model="searchDistance">
					<span class="input-group-btn">
						<button class="btn btn-default clearBtn" role="button" type="submit"
                                ng-click="getNearestCustomers(searchDistance)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
					</span>
        </div>
    </form>
    <div data-ng-repeat="customer in customers track by $index" class="row">
        <div class="col-md-4">{{customer.name}}</div>
        <div class="col-md-4">{{customer.user_id}}</div>
        <div class="col-md-4">{{customer.distance}}</div>
        </div>
    <div>{{error}}</div>
    </div>
</section>
